@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profilepic{
  margin: 0;
  width: 50px;
  border-radius: 10px;
}

.bissunessCard{
  background-color: #1A1B21;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  width: 317px;
}

h1{
  color: white;
  margin: 0;

}

h4{
  color: #F3BF99;
  margin: 0;
}

.About{
  text-align: left;
  margin: 30px 30px;
  font-size: 0.9em;
}

.Interests{
  text-align: left;
  margin: 30px 30px;
  font-size: 0.9em;
}

button{
  width: 115px;
  height: 34px;
}

.buttons{
  margin-top: 10px;
  margin-bottom: 10px;
}

.linkedinBtn{
  margin-left: 10px;
  background-color: #0077b5;
}

.emailBtn{
  margin-right: 10px;
}

.Footer{
  display: flex;
  justify-content: center;

}


.Footer > a > img{
  width: 25px;
  margin: 30px;
  margin-top: 0px;
}